.cabecalho {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
}

.lobo {
  font-size: 70px;
  font-weight: 500;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cabecalho-menu a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3;
}